body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: #833AE1;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

header div {
    display: flex;
    gap:95px;
}

.logo {
    width: 42px;
    height: 53px;
    display: inline;
}

header a {
    color: white;
    font-size: 24px;
    display: inline;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
}

h3 {
    background-color: #833AE1;
    color: white;
    border: 3px;
    border-radius: 8px;
    font-size: 30px;
    display: inline;
    text-align: center;
}

footer {
    padding: 27px 30px 30px;
}

footer .top {
    color: #833AE1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 36px;
    border-bottom: 2px solid #833AE1;
    margin-bottom: 27px;
    text-decoration: none;
    gap: 52px;
}

footer .bottom {
    color: #833AE1;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    align-items: center;
}

footer .top a{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0%;
    text-decoration: none;
}

.baner {
    padding: 127px 30px 145px;
    display: flex;
    flex-direction: column;
}

.baner p{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 45px;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
}

.baner h1{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 50px;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: center;
    margin: 43px 0 23px;
}

.baner a{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 50px;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: center;
    background-color: #833AE1;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    margin: 0 auto;
    width: fit-content;
    padding: 0 20px;
}

.about {
    padding: 0 30px 58px 30px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(203, 248, 109, 0.49) 4.17%, rgba(203, 248, 109, 0.5) 18.23%, #FBF9F9 67.19%);
}

.about .toptext {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 69px;

}

.subtext {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
    letter-spacing: 0%;
    padding: 28px 25px 28px;
    background-color: white;
    border: 0.1px solid white;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 91px;
}

.subtext span {
    color: #A5DC31;
}

.section-title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0%;
    border-bottom: 2px solid #602B7A;
    padding: 32px 0 10px;
}

.about_card {
    background-color: white;
    max-width: 575px;
    border-radius: 15px;
    border: 1px solid #833AE1;
    padding: 35px 25px 47px;
}

.about_card .top {
    display: flex;
    align-items: center;
    gap: 18px;
}

.about_card .top img {
    width: 100px, height: 100px;
}

.about_card .top h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
}

.about_card p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0%;
}